@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&family=Satisfy&display=swap');

:root {
    --main-theme-color: #007bff;
    --font-color: #303135;
    --font-color-grey: #71747d;
    --hover-main-color: #429dff;
    --price-color: #f15c59;
    --biru-muda: #cce6ff;
    --border-radius-color: #bfbfbf;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    padding: 15px 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header .logo a {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.header .searchField {
    width: 500px;
    position: relative;
}

.header input {
    width: 100%;
    font-size: 13px;
    padding: 7px 0 7px 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.header .searchField i {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 13px;
}


.header .navlink a {
    margin: 0 8px;
    color: #fff;
}

.container {
    margin-top: 70px;
    padding: 0 7%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* position: relative; */
    gap: 25px;
}


.container .image img {
    width: 348px;
    height: 348px;
    object-fit: cover;
    border-radius: 10px;
    /* position: sticky;
    top: 75px; */
}

.container .row-image {
    display: flex;
    gap: 5px;
}

.container .row-image img {
    width: 57px;
    height: 57px;
    object-fit: cover;
    cursor: pointer;
}

.container .row-image img:hover {
    opacity: 0.5;
}

.container form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* position: relative; */
    gap: 25px;
}

.container .image img {
    position: sticky;
    top: 0;
}

.col {
    color: var(--font-color);
}

.col .productName h4 {
    font-size: 20px;
}

.container .col {
    width: 440px;
}

.container .productSold {
    display: flex;
    gap: 10px;
    align-items: center;
}

.container .sold {
    font-size: 13px;
    font-weight: 500;
}

.container .sold span {
    color: var(--font-color-grey);
}

.container .rating {
    display: flex;
    gap: 5px;
    align-items: center;
}

.container .rating i {
    font-size: 13px;
    color: yellow;
}

.container .review p {
    font-size: 13px;
    font-weight: 500;
}

.container .review span {
    font-size: 12px;
    color: var(--font-color-grey);
}

.container .price {
    margin-top: 10px;
    font-size: 22px;
}

.col .detail {
    margin-top: 10px;
}

.description {
    margin-top: 10px;
    /* font-weight: 500; */
    /* text-align: justify; */
    font-size: 14px;
    color: black;
}

.content {
    font-size: 14px;
    margin-top: 6px;
    color: var(--font-color-grey);
}

.content span {
    color: var(--font-color);
    font-weight: 500;
}

.shopContainer {
    display: flex;
    gap: 8px;
    margin-top: 30px;
    /* border: 1px solid red; */
}

.shopContainer .row {
    /* border: 1px solid red; */
    width: 333px;
}

.shopContainer img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.shopContainer .shop-content {
    line-height: 20px;
    margin-top: 5px;
}

.shopContainer .row:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopContainer .row .online {
    font-size: 14px;
    font-weight: 500;
    color: var(--font-color-grey);
}

.shopContainer .row a {
    font-size: 14px;
    padding: 4px 16px;
    border-radius: 5px;
    border: 2px solid var(--main-theme-color);
}

.shopContainer .row:last-child {
    margin-top: 10px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.shopContainer .row .rating {
    display: flex;
    align-items: center;
}

.shopContainer .row .rating p {
    font-size: 13px;
    font-weight: bold;
}

.shopContainer .row .rating span {
    font-size: 13px;
    font-weight: 500;
    color: var(--font-color-grey);
}

.shopContainer .row .rating i {
    font-size: 14px;
}

.shopContainer .row .process {
    display: flex;
    gap: 7px;
    align-items: center;
    margin-top: 5px;
}

.shopContainer .row .process i {
    font-size: 14px;
}

.shopContainer .row .process p {
    font-size: 13px;
    font-weight: bold;
}

.shopContainer .row .process span {
    font-size: 13px;
    font-weight: 500;
    color: var(--font-color-grey);
}

.pengiriman,
.promo,
.penawaran {
    margin-top: 35px;
}

.pengiriman .title p,
.promo .title p,
.penawaran .title p {
    font-weight: 600;
    font-size: 18px;
}

.pengiriman .location {
    display: flex;
    gap: 15px;
    text-align: center;
    margin-top: 9px;
}

.pengiriman .location .logo {
    font-size: 14px;
}

.pengiriman .location p {
    font-size: 13px;
    font-weight: 500;
}

.pengiriman .location span {
    font-size: 13px;
    font-weight: 600;
}

.package {
    display: flex;
    gap: 10px;
}

.package .col i {
    font-size: 12px;
}

.package .col:last-child {
    margin-top: 4px;
}

.package .col:nth-child(2) {
    line-height: 23px;
}

.package .col .ongkir {
    font-size: 14px;
    font-weight: 500;
}

.package .col .time {
    font-size: 14px;
    color: var(--font-color-grey);
    font-weight: 500;
}

.package .kurir-title {
    font-size: 14px;
    font-weight: 500;
}

.package .kurir .col {
    display: flex;
    gap: 5px;
    text-align: center;
}

.package .kurir .instant,
.cod {
    font-size: 12px;
    background-color: #429dff;
    padding: 0px 7px;
    font-weight: 500;
}

.package .kurir {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo .box {
    line-height: 22px;
    /* border: 1px solid red; */
    width: 200px;
    padding: 5px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    margin-top: 8px;
}

.promo .cashback {
    font-size: 15px;
    font-weight: 500;
}

.promo h4 {
    font-size: 18px;
}

.promo .sk {
    font-size: 13px;
    font-weight: 500;
    color: var(--font-color-grey);
}

.penawaran .row {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.penawaran .sub-title {
    font-weight: bold;
}

.penawaran .link {
    font-size: 13px;
    color: var(--font-color-grey);
}

.side-panel {
    border: 1px solid var(--main-theme-color);
    padding: 10px;
    border-radius: 10px;
    height: 360px;
    width: 300px;
}

.side-panel .image-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.side-panel .image-container img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 5px;
}

.side-panel .image-container p {
    font-size: 14px;
    font-weight: 500;
}

.side-panel .stok {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.side-panel .col:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: 100px;
    border: 1px solid var(--main-theme-color);
    padding: 5px;
    width: 90px;
    border-radius: 7px;
}

.side-panel .col:first-child .icon i {
    font-size: 13px;
    cursor: pointer;
}

.side-panel .col:last-child {
    width: 140px;
    font-size: 13px;
}

.side-panel .col:last-child p {
    font-size: 14px;
    font-weight: 500;
}

.side-panel .total {
    margin-top: 20px;
}

.side-panel .total .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
}

.side-panel .total .row p {
    color: var(--font-color-grey);
    font-size: 15px;
}

.side-panel .cta {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.side-panel .cta a {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--main-theme-color);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.side-panel button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--main-theme-color);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.side-panel button:last-child {
    background-color: transparent;
    border: 1px solid var(--main-theme-color);
    color: var(--main-theme-color);
    cursor: pointer;
}

.side-panel .btn-grup {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    gap: 4px;
}

.side-panel .btn-grup .row button {
    padding: 7px 19px;
}

.side-panel-container .adv img {
    margin-top: 20px;
    width: 100%;
    height: 89px;
    object-fit: cover;
}